#h2{
    background-color: black;
   text-align: center;
}
.lunes{
    color: blue;
}
.martes{
    color: red;
}
.miercoles{
    color: brown;
}
.jueves{
    color: yellowgreen;
}
.viernes{
    color: orange;
}
.sabados-domingos{
    color: violet;
}
.tabla{
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
    background-color: white;
    margin-left: 760px;
    margin-right: 719px;
    margin-top: 90px;
}
#fondo{
    background-color: rgb(255, 230, 0);
}
